.circle{
  display: flex;
    
    background-color: #1f2833;
    color: white;
    
  
}
  

.maincircle {
  background-color: #1f2833;
  border:none  ;
  max-width: 50%;
  display:flex;
  flex-wrap: wrap;
  
}